<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <figure class="profile-default-image ion-text-center">
    <p>Ingresa tus datos</p>
    <img src="assets/image/usu.png" alt="Usuario" style="width: 120px;">
  </figure>

  <form [formGroup]="loginForm" (ngSubmit)="loginUser()">

    <ion-item>
      <ion-input
        id="emailInput"
        label="Email"
        labelPlacement="stacked"
        placeholder="Escribe tu email"
        formControlName="email"
        type="email">
      </ion-input>
    </ion-item>

    <div class="validation-message" *ngFor="let validation of validation_messages.email">
      <div *ngIf="loginForm.get('email')?.hasError(validation.type) && loginForm.get('email')?.dirty">
        {{ validation.message }}
      </div>
    </div>

    <ion-item class="ion-margin-top">
      <ion-input
        id="passwordInput"
        label="Contraseña"
        labelPlacement="stacked"
        placeholder="Escribe tu contraseña"
        formControlName="password"
        type="password">
      </ion-input>
    </ion-item>

    <div class="validation-message" *ngFor="let validation of validation_messages.password">
      <div *ngIf="loginForm.get('password')?.hasError(validation.type) && loginForm.get('password')?.dirty">
        {{ validation.message }}
      </div>
    </div>

    <ion-button 
      expand="full" 
      shape="round" 
      color="success" 
      class="ion-margin-top" 
      [disabled]="!loginForm.valid" 
      type="submit">
      Login
    </ion-button>

    <ion-text color="danger" *ngIf="errorMessage">
      <p class="ion-padding-start">{{ errorMessage }}</p>
    </ion-text>

    
    <ion-button 
      expand="full" 
      fill="clear" 
      color="medium" 
      (click)="goToRegister()">
      ¿No tienes cuenta? Regístrate
    </ion-button>

  </form>

</ion-content>

