// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
  --color-claro: #c04d4d;
  --color-oscuro: #f80000;
  --espaciado-base: 1rem;
  --espaciado-grande: 2rem;
}