<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="CambiarColor()">
        Cambiar de tema
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="1"
  >
    <swiper-slide *ngFor="let genre of genres" [ngStyle]="{ 'background-color': colorActual }">
      <div class="slide-content">
        <h2>{{ genre.title }}</h2>
        <img [src]="genre.image" [alt]="genre.title">
        <p>{{ genre.description }}</p>
      </div>
    </swiper-slide>
  </swiper-container>


<!--demo de storage-->
  <div>
    <h3>Demo ionic Storage</h3>
    <div [style.background-color]="colorActual">
      <p>Team Actual: {{ colorActual === colorOscuro ? 'Oscuro' : 'Claro'}}</p>

    </div>
  </div>

  <div>
    <ion-button (click)="CambiarColor()">Cambiar team y Guardar</ion-button>
  </div>
</ion-content>

